.box-1 {
  border: 10px solid blue;
  width: auto;
  height: auto;
  flex:1;
  margin: 50px;
}

.box-2 {
  border: 10px solid blue;
  width: auto;
  height: auto;
  flex:1;
  margin: 50px;
}

.box-3 {
  border: 10px solid blue;
  width: auto;
  height: auto;
  flex:1;
  margin: 50px;
}

.box-4 {
  border: 10px solid blue;
  width: auto;
  height: auto;
  flex: 1;
  margin: 50px;
}

.box-5 {
  border: 10px solid blue;
  width: auto;
  height: auto;
  flex: 1;
  margin: 50px;
}

.results {
    display: flex;
    justify-content: space-between;
}

.history-city {
  cursor: pointer;
  transition: color 0.3s ease;
}
.history-city:hover {
  color: blue;
}